@mixin col-size($width, $gutter: 15px) {
    max-width: $width;
    padding: $gutter $gutter 0 $gutter;
  }
  
  @for $i from 1 through $gd-col {
    .col-#{$i} {
      @include col-size($gd-size * $i);
    }
  }
  
  @media screen and (max-width: $xl) {
    @for $i from 1 through $gd-col {
      .col-xl-#{$i} {
        @include col-size($gd-size * $i);
      }
    }

    .main {
        &-title {
            font-size: 70px;
        }

        &__content {
            &-txt {
                max-width: 100%;
            }
        }
    }
    
    .form {
        position: static;
        top: 0;
    }

    .services {
        &-list {
            justify-content: center;
        }
    }
  }

  @media screen and (max-width: $lg) {
      @for $i from 1 through $gd-col {
      .col-lg-#{$i} {
        @include col-size($gd-size * $i);
      }
    }

    .price {
        &-list {
            &__item {
                padding-bottom: 10px;
            }
        }
    }

    .gallery-testimonial {
        padding: 60px 0 60px;
        &__wrap {
            justify-content: center;
        }
    }

    .footer {
        &__wrap {
            justify-content: center;
        }

        &__txt {
            text-align: center;
        }
    }
  }
  
  @media screen and (max-width: $md) {
    @for $i from 1 through $gd-col {
      .col-md-#{$i} {
        @include col-size($gd-size * $i);
      }
    }

    .price {
        &-list {
            justify-content: center;
        }
    }

    .testimonial {
        &-list {
            &__item {
                max-width: 100%;
            }
        }
    }
  }
  
  @media screen and (max-width: $sm) {
    @for $i from 1 through $gd-col {
      .col-sm-#{$i} {
        @include col-size($gd-size * $i);
      }
    }

    .form {
        width: 100%;
    }

    .title {
        &-h1 {
            font-size: $fs-h4;
            line-height: $h4-ln-height;
        }

        &-h4 {
            font-size: 38px;
        }
    }
  }