// colors
$pink: #D03958;
$white: #FFFFFF;
$black: #1B1B1B;
$black-2: #161616;
$black-3: #1F1F1F;
$light-ivory: #E3D5B8;
$brown: #B4A993;
$filter-shadow: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

// font-family
$fm-roboto: "Roboto", sans-serif;
$fm-pt-serif: "PT Serif", serif;
$fm-montserrat:"Montserrat", sans-serif;

// font-size
$txt-logo: 88px;
$txt-popular: 16px;
$txt-link: 18px;
$txt-main: 20px;
$txt-lg: 22px;
$fs-h1: 90px;
$fs-h3: 60px;
$fs-h4: 50px;

// line-height
$txt-logo-ln-height: 104px;
$txt-link-ln-height: 22px;
$txt-author-ln-height: 24px;
$txt-main-ln-height: 26px;
$txt-lg-ln-height: 27px;
$txt-extralg-ln-height: 29px;
$h1-ln-height: 110px;
$h3-ln-height: 73px;
$h4-ln-height: 61px;

$transition-time: 0.3s ease;
