footer.footer
    .container
        .footer__wrap.flex-container
            p.txt-main.txt--white.
                All Rights Reserved |  2016  |  Designed with love by #[a.footer__link.txt--pink DesignCoon]
            |
            |
            include logo.pug