section.gallery-testimonial
    .container 
        .gallery-testimonial__wrap.flex-between
            .testimonial__content
                h4.title-h4.testimonial__title.txt--uppercase.txt--center.txt--bold Testimonial
                ul.testimonial-list
                    li.testimonial-list__item
                        p.testimonial-list__text.txt-main.txt--normal.
                            I have been involved with this comapny for ages and just 
                            want to say this is a great work by designcoon.
                        p.testimonial-list__author.txt--pink.
                            DJ Bravo - Frequent Travelera
                        .images__wrap.testimonial-img__wrap
                            img.images(src="./assets/img/man.png", alt="Photo man")
                    li.testimonial-list__item
                        p.testimonial-list__text.txt-main.txt--normal.
                            I have been involved with this comapny for ages and just.
                        p.testimonial-list__author.txt--pink.
                            DJ Bravo - Frequent Travelera
                        .images__wrap.testimonial-img__wrap
                            img.images(src="./assets/img/woman.png", alt="Photo woman")
            .gallery__content.flex-column
                h4.title-h4.gallery__title.txt--uppercase.txt--bold.txt--pink Gallery
                ul.gallery-list.flex-container
                    +galleryimg('girl', 'Picture girl')
                    +galleryimg('berries', "Picture berries")
                    +galleryimg('lemon', 'Picture lemon')
                    +galleryimg('cups', 'Picture cups')
                    +galleryimg('car', 'Picture car')
                    +galleryimg('stone', 'Picture girl')
                |
                |
                a.gallery__link.txt--uppercase.txt--normal.txt--pink(href="#") View more pictures