header.header
    .container
        .header__wrap.flex-container
            include logo.pug
            nav.menu
                ul.menu-list.flex-container
                    +navitem('Home')
                    +navitem('About')
                    +navitem('Services')
                    +navitem('Gallery')
                    +navitem('Contact')