main.main-section
    .container
        .main__wrap.flex-container
            .main__content
                h1.title-h1.main-title.txt--uppercase.txt--bold #[span.txt--pink Travel is] beatiful
                p.txt-main.txt--normal.
                    Lorem Ipsum is simply dummy text of the printing and 
                    typesetting industry. Lorem Ipsum has been the 
                    industry's standard dummy text ever since the 1500s
            form.form.form__wrap(action="https://fom.in.ua/echo")
                h6.title-h6.form__title.txt--uppercase.txt--white.txt--center Request a quote
                |
                input.form-input.txt-main(type="text" name="name" placeholder="Full Name" required)
                |
                input.form-input.txt-main(type="email" name="email" placeholder="Email Adress" required)
                |
                input.form-input.txt-main(type="tel" name="phone" placeholder="Phone Number" required)
                |
                input.form-input.txt-main(type="text" name="country" placeholder="Country" required)
                |
                label.form-label.txt-main.txt--white.flex-align--center(for="checkbox")
                    input.form-checkbox#checkbox(type="checkbox" name="accept" value="accept")
                    | 
                    | I accept the terms & conditions
                input.btn.form__btn(type="submit" value="Send")