section.price
  .container
    h4.title-h4.price__title.txt--uppercase.txt--center.txt--bold Pricing
    .price-list.row
      .col-4.col-lg-6.col-md-12
        .price-list__item.flex-column--between
          h6.title-h6.price-list__title-h6.txt--normal Starter
          h3.title-h3.price-list__title-h3.txt--uppercase.txt--pink.txt--bold Free
          ul.price-offer__list.txt--center
            li.price-offer__item.txt-main Free Service
            li.price-offer__item.txt-main Multiple Accounts
            li.price-offer__item.txt-main Management No
            li.price-offer__item --
            li.price-offer__item --
          button.btn.price__btn Try
      .col-4.col-lg-6.col-md-12
        .price-list__item.flex-column--between
          h6.title-h6.price-list__title-h6.txt--normal Business
          h3.title-h3.price-list__title-h3.txt--uppercase.txt--pink.txt--bold $97
          ul.price-offer__list.txt--center
            li.price-offer__item.txt-main Free Service
            li.price-offer__item.txt-main Multiple Accounts
            li.price-offer__item.txt-main Management No
            li.price-offer__item.txt-main Unlimited Data
            li.price-offer__item --
          button.btn.price__btn Sign up
          .price-popular
            p.price-popular__txt Popular
      .col-4.col-lg-6.col-md-12
        .price-list__item.flex-column--between
          h6.title-h6.price-list__title-h6.txt--normal Professional
          h3.title-h3.price-list__title-h3.txt--uppercase.txt--pink.txt--bold $297
          ul.price-offer__list.txt--center
            li.price-offer__item.txt-main Free Service
            li.price-offer__item.txt-main Multiple Accounts
            li.price-offer__item.txt-main Management No
            li.price-offer__item.txt-main Unlimited Data
            li.price-offer__item.txt-main Whatever You Need
          button.btn.price__btn Sign up