section.services
    .container
        .services__wrap
            h4.title-h4.services-title.txt--uppercase.txt--normal #[span.txt--pink Our] services
            ul.services-list.flex-container
                li.services-list__item
                    .services-list__img
                        object.services-list__img--center(data="./assets/svg/heart_icon.svg")
                    p.txt-main.txt--center.
                        Making your trip beautiful and easier
                li.services-list__item
                    .services-list__img
                        object.services-list__img--center(data="./assets/svg/tools_icon.svg")
                    p.txt-main.txt--center.
                        Tools to help you succeed tommorow
                li.services-list__item
                    .services-list__img
                        object.services-list__img--center(data="./assets/svg/idea_icon.svg")
                    p.txt-main.txt--center.
                        Ideas that will blow you out the blue
                li.services-list__item
                    .services-list__img
                        object.services-list__img--center(data="./assets/svg/navigate_icon.svg")
                    p.txt-main.txt--center.
                        Navigate your path to beautiful world