.story
    .container.flex-container
        p.story__txt.txt-main.txt--white.
            We are in business for over 6 years providing amazing services to client
            and people love them to the core. View our story to know more.
        |
        |
        a.btn.story__btn(href="#") Our story