doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Travel
        link(rel="stylesheet", href="./styles/main.css")
    body
        //- mixins
        include pug/includes/mixins.pug
        //- sections
        .main-wrap
            include pug/includes/header.pug
            include pug/includes/main-section.pug
        include pug/includes/service.pug
        include pug/includes/story.pug
        include pug/includes/price.pug
        include pug/includes/gallery.pug
        include pug/includes/footer.pug