@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=PT+Serif&family=Roboto&display=swap");
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  cursor: pointer;
}

button {
  border: none;
  cursor: pointer;
}

.main-wrap {
  background-color: #E3D5B8;
}

body {
  color: #161616;
}

.container {
  max-width: 1130px;
  padding: 0 15px;
  margin: 0 auto;
  width: 100%;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin: -15px -15px 0 -15px;
}

.col {
  flex-grow: 1;
  flex-basis: 0;
  padding: 15px 15px 0 15px;
}

.flex-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.flex-align--center {
  display: flex;
  align-items: center;
}

.flex-column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.flex-column--between {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.flex-between {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.title-h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 90px;
  line-height: 110px;
}

.title-h2 {
  font-family: "Roboto", sans-serif;
  font-size: 88px;
  line-height: 104px;
}

.title-h3 {
  font-family: "Montserrat", sans-serif;
  font-size: 60px;
  line-height: 73px;
}

.title-h4 {
  font-family: "Roboto", sans-serif;
  font-size: 50px;
  line-height: 61px;
}

.title-h6 {
  font-family: "Montserrat", sans-serif;
  font-size: 22px;
  line-height: 27px;
}

.txt-main {
  font-family: "PT Serif", serif;
  font-size: 20px;
  line-height: 26px;
}

.txt--uppercase {
  text-transform: uppercase;
}

.txt--center {
  text-align: center;
}

.txt--pink {
  color: #D03958;
}

.txt--white {
  color: #FFFFFF;
}

.txt--normal {
  font-weight: 400;
}

.txt--bold {
  font-weight: 700;
}

.btn {
  display: inline-block;
  font-family: "Montserrat", sans-serif;
  font-size: 22px;
  line-height: 27px;
  font-weight: 400;
  color: #161616;
  border-radius: 5px;
  background-color: #E3D5B8;
  text-transform: uppercase;
  transition: 0.3s ease;
  cursor: pointer;
}

.images__wrap {
  width: 104px;
  height: 104px;
}

.images {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.header__wrap {
  padding-top: 26px;
}

.logo-link {
  transition: 0.3s ease;
}

.logo-link:hover {
  opacity: 0.6;
}

.menu-list {
  padding: 10px 0;
}

.menu-list__item {
  margin-right: 10px;
}

.menu-list__link {
  display: inline-block;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  line-height: 22px;
  font-weight: 400;
  color: #1B1B1B;
  padding: 7px 13px 8px;
  border-radius: 5px;
  text-transform: uppercase;
  transition: 0.3s ease;
}

.menu-list__link:hover {
  background-color: #D03958;
  color: #FFFFFF;
}

.main__wrap {
  padding: 20px 0;
  align-items: center;
  justify-content: space-between;
}

.main-title {
  margin-bottom: 21px;
}

.main__content {
  max-width: 535px;
  margin-bottom: 15px;
}

.form {
  width: 400px;
  border-radius: 5px;
  position: relative;
  top: 100px;
}

.form__wrap {
  padding: 27px 23px;
  background-color: #D03958;
}

.form__title {
  margin-bottom: 35px;
}

.form-input {
  width: 100%;
  padding: 18px 11px 11px 18px;
  border-radius: 5px;
  border: none;
  margin-bottom: 17px;
}

.form-label {
  margin-bottom: 22px;
}

.form-checkbox {
  width: 18px;
  height: 18px;
  border-radius: 5px;
  border: none;
  margin-right: 22px;
}

.form__btn {
  width: 100%;
  background-color: #161616;
  padding: 14px 13px 16px;
  color: #FFFFFF;
  border: none;
}

.form__btn:hover {
  color: #161616;
  background-color: #E3D5B8;
}

.services__wrap {
  padding-top: 31px;
  padding-bottom: 62px;
}

.services-title {
  margin-bottom: 89px;
}

.services-list__img {
  width: 100%;
  height: 155px;
  margin-bottom: 40px;
}

.services-list__img--center {
  display: block;
  margin: 0 auto;
}

.story {
  padding: 28px 0;
  background-color: #D03958;
}

.story__txt {
  max-width: 629px;
  margin-right: 10px;
  margin-bottom: 10px;
}

.story__btn {
  padding: 17px 62px;
  transition: 0.3s ease;
}

.story__btn:hover {
  color: #E3D5B8;
  background-color: #161616;
}

.price {
  background-color: #E3D5B8;
  padding-top: 47px;
}

.price__title {
  font-family: "Montserrat", sans-serif;
  color: #1F1F1F;
  margin-bottom: 32px;
}

.price-list {
  justify-content: space-between;
}

.price-list__item {
  min-height: 389px;
  position: relative;
  padding: 31px 57px 0;
  background-color: #FFFFFF;
}

.price-list__title-h6 {
  font-family: "PT Serif", serif;
  line-height: 29px;
  margin-bottom: 15px;
}

.price-list__title-h3 {
  margin-bottom: 14px;
}

.price-offer__list {
  margin-bottom: 31px;
}

.price__btn {
  min-width: 205px;
  padding: 10px;
}

.price__btn:hover {
  background-color: #D03958;
  color: #FFFFFF;
}

.price-popular {
  position: absolute;
  top: 0;
  left: 0;
  border: 50px solid transparent;
  border-left: 50px solid #B4A993;
  border-top: 50px solid #B4A993;
}

.price-popular__txt {
  position: absolute;
  transform: rotate(-45deg);
  top: -31px;
  left: -45px;
  font-family: "PT Serif", serif;
  font-size: 16px;
  line-height: 22px;
  color: #1F1F1F;
}

.gallery-testimonial {
  padding: 123px 0 112px;
}

.gallery-testimonial__wrap {
  justify-content: space-between;
}

.testimonial__title {
  font-family: "Montserrat", sans-serif;
  margin-bottom: 45px;
}

.testimonial-list__item {
  max-width: 431px;
  padding: 20px 49px 27px 22px;
  margin-bottom: 35px;
  margin-right: 70px;
  position: relative;
  background-color: #E3D5B8;
}

.testimonial-list__item:first-child {
  background-color: #FFFFFF;
}

.testimonial-list__text {
  margin-bottom: 17px;
}

.testimonial-list__author {
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  line-height: 24px;
}

.testimonial-img__wrap {
  position: absolute;
  right: -52px;
  top: calc(50% - 52px);
}

.gallery__title {
  font-family: "Montserrat", sans-serif;
  margin-bottom: 56px;
}

.gallery-list {
  max-width: 384px;
  margin-bottom: 20px;
}

.gallery-list__item {
  margin-bottom: 28px;
}

.gallery-list__item-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.gallery__link {
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  line-height: 24px;
  text-decoration: underline;
  text-decoration-thickness: 1px;
  transition: 0.3s ease;
}

.gallery__link:hover {
  color: #161616;
}

.footer {
  background-color: #161616;
}

.footer__wrap {
  padding: 50px 0;
}

.footer__txt {
  margin-right: 15px;
}

.footer__link {
  transition: 0.3s ease;
}

.footer__link:hover {
  opacity: 0.8;
}

.col-1 {
  max-width: 8.33333%;
  padding: 15px 15px 0 15px;
}

.col-2 {
  max-width: 16.66667%;
  padding: 15px 15px 0 15px;
}

.col-3 {
  max-width: 25%;
  padding: 15px 15px 0 15px;
}

.col-4 {
  max-width: 33.33333%;
  padding: 15px 15px 0 15px;
}

.col-5 {
  max-width: 41.66667%;
  padding: 15px 15px 0 15px;
}

.col-6 {
  max-width: 50%;
  padding: 15px 15px 0 15px;
}

.col-7 {
  max-width: 58.33333%;
  padding: 15px 15px 0 15px;
}

.col-8 {
  max-width: 66.66667%;
  padding: 15px 15px 0 15px;
}

.col-9 {
  max-width: 75%;
  padding: 15px 15px 0 15px;
}

.col-10 {
  max-width: 83.33333%;
  padding: 15px 15px 0 15px;
}

.col-11 {
  max-width: 91.66667%;
  padding: 15px 15px 0 15px;
}

.col-12 {
  max-width: 100%;
  padding: 15px 15px 0 15px;
}

@media screen and (max-width: 1200px) {
  .col-xl-1 {
    max-width: 8.33333%;
    padding: 15px 15px 0 15px;
  }
  .col-xl-2 {
    max-width: 16.66667%;
    padding: 15px 15px 0 15px;
  }
  .col-xl-3 {
    max-width: 25%;
    padding: 15px 15px 0 15px;
  }
  .col-xl-4 {
    max-width: 33.33333%;
    padding: 15px 15px 0 15px;
  }
  .col-xl-5 {
    max-width: 41.66667%;
    padding: 15px 15px 0 15px;
  }
  .col-xl-6 {
    max-width: 50%;
    padding: 15px 15px 0 15px;
  }
  .col-xl-7 {
    max-width: 58.33333%;
    padding: 15px 15px 0 15px;
  }
  .col-xl-8 {
    max-width: 66.66667%;
    padding: 15px 15px 0 15px;
  }
  .col-xl-9 {
    max-width: 75%;
    padding: 15px 15px 0 15px;
  }
  .col-xl-10 {
    max-width: 83.33333%;
    padding: 15px 15px 0 15px;
  }
  .col-xl-11 {
    max-width: 91.66667%;
    padding: 15px 15px 0 15px;
  }
  .col-xl-12 {
    max-width: 100%;
    padding: 15px 15px 0 15px;
  }
  .main-title {
    font-size: 70px;
  }
  .main__content-txt {
    max-width: 100%;
  }
  .form {
    position: static;
    top: 0;
  }
  .services-list {
    justify-content: center;
  }
}

@media screen and (max-width: 992px) {
  .col-lg-1 {
    max-width: 8.33333%;
    padding: 15px 15px 0 15px;
  }
  .col-lg-2 {
    max-width: 16.66667%;
    padding: 15px 15px 0 15px;
  }
  .col-lg-3 {
    max-width: 25%;
    padding: 15px 15px 0 15px;
  }
  .col-lg-4 {
    max-width: 33.33333%;
    padding: 15px 15px 0 15px;
  }
  .col-lg-5 {
    max-width: 41.66667%;
    padding: 15px 15px 0 15px;
  }
  .col-lg-6 {
    max-width: 50%;
    padding: 15px 15px 0 15px;
  }
  .col-lg-7 {
    max-width: 58.33333%;
    padding: 15px 15px 0 15px;
  }
  .col-lg-8 {
    max-width: 66.66667%;
    padding: 15px 15px 0 15px;
  }
  .col-lg-9 {
    max-width: 75%;
    padding: 15px 15px 0 15px;
  }
  .col-lg-10 {
    max-width: 83.33333%;
    padding: 15px 15px 0 15px;
  }
  .col-lg-11 {
    max-width: 91.66667%;
    padding: 15px 15px 0 15px;
  }
  .col-lg-12 {
    max-width: 100%;
    padding: 15px 15px 0 15px;
  }
  .main__content {
    max-width: 100%;
  }
  .price-list__item {
    padding-bottom: 10px;
  }
  .gallery-testimonial {
    padding: 60px 0 60px;
  }
  .gallery-testimonial__wrap {
    justify-content: center;
  }
  .footer__wrap {
    justify-content: center;
  }
  .footer__txt {
    text-align: center;
  }
}

@media screen and (max-width: 768px) {
  .col-md-1 {
    max-width: 8.33333%;
    padding: 15px 15px 0 15px;
  }
  .col-md-2 {
    max-width: 16.66667%;
    padding: 15px 15px 0 15px;
  }
  .col-md-3 {
    max-width: 25%;
    padding: 15px 15px 0 15px;
  }
  .col-md-4 {
    max-width: 33.33333%;
    padding: 15px 15px 0 15px;
  }
  .col-md-5 {
    max-width: 41.66667%;
    padding: 15px 15px 0 15px;
  }
  .col-md-6 {
    max-width: 50%;
    padding: 15px 15px 0 15px;
  }
  .col-md-7 {
    max-width: 58.33333%;
    padding: 15px 15px 0 15px;
  }
  .col-md-8 {
    max-width: 66.66667%;
    padding: 15px 15px 0 15px;
  }
  .col-md-9 {
    max-width: 75%;
    padding: 15px 15px 0 15px;
  }
  .col-md-10 {
    max-width: 83.33333%;
    padding: 15px 15px 0 15px;
  }
  .col-md-11 {
    max-width: 91.66667%;
    padding: 15px 15px 0 15px;
  }
  .col-md-12 {
    max-width: 100%;
    padding: 15px 15px 0 15px;
  }
  .price-list {
    justify-content: center;
  }
  .testimonial-list__item {
    max-width: 100%;
  }
}

@media screen and (max-width: 576px) {
  .col-sm-1 {
    max-width: 8.33333%;
    padding: 15px 15px 0 15px;
  }
  .col-sm-2 {
    max-width: 16.66667%;
    padding: 15px 15px 0 15px;
  }
  .col-sm-3 {
    max-width: 25%;
    padding: 15px 15px 0 15px;
  }
  .col-sm-4 {
    max-width: 33.33333%;
    padding: 15px 15px 0 15px;
  }
  .col-sm-5 {
    max-width: 41.66667%;
    padding: 15px 15px 0 15px;
  }
  .col-sm-6 {
    max-width: 50%;
    padding: 15px 15px 0 15px;
  }
  .col-sm-7 {
    max-width: 58.33333%;
    padding: 15px 15px 0 15px;
  }
  .col-sm-8 {
    max-width: 66.66667%;
    padding: 15px 15px 0 15px;
  }
  .col-sm-9 {
    max-width: 75%;
    padding: 15px 15px 0 15px;
  }
  .col-sm-10 {
    max-width: 83.33333%;
    padding: 15px 15px 0 15px;
  }
  .col-sm-11 {
    max-width: 91.66667%;
    padding: 15px 15px 0 15px;
  }
  .col-sm-12 {
    max-width: 100%;
    padding: 15px 15px 0 15px;
  }
  .form {
    width: 100%;
  }
  .title-h1 {
    font-size: 50px;
    line-height: 61px;
  }
  .title-h4 {
    font-size: 38px;
  }
}
